.container {
  width: 384px;
  margin: 60px auto;
  padding: 50px 32px;
  background: #ffffff;
  border: 1px solid #d9d9d9;
  box-shadow: 0 22px 106px rgba(0, 0, 0, 0.1);
  border-radius: 6px;
}

.title {
  width: 310px;
  margin-bottom: 20px;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 28px;
  text-align: center;
  color: #262626;
}
