.link {
  width: 320px;
  margin: auto;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 20px;
  text-align: center;
  color: #8c8c8c;
}

.link a:hover {
  text-decoration: underline;
}
